<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <div class="user-image", style="position: relative; display: inline-block;">
      <% if @user.background_image.attached? %>
<%= image_tag(current_user.background_image, height: 150, style: "width: 100%; object-fit: cover;") %>      <% end %>
      </div>
      <div class="user-header" style="display: flex; align-items: center;">
      <% if current_user.image.attached? %>
        <%= image_tag(current_user.image, size: 80) %>
      <% else %>
        <%= gravatar_for(current_user, size: 80) %>
      <% end %>
      <div class="user_info" style="margin-left: 20px;">
     <h1>
        <%= @user.name %>
      </h1>

    <%= @user.introduction %>
    <section class="stats">
      <%= render 'shared/stats', user: @user %>
    </section>
  </div>
</div>
  </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <%= render 'shared/fixed_post', user: @user %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
