<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
      <div class="user-image", style="position: relative; display: inline-block;">
      <% if @user.background_image.attached? %>
        <%= image_tag(@user.background_image, size: '350x150', class: "background-image", style: "display: block;") %>
      <% end %>
      <% if @user.image.attached? %>
        <%= image_tag(@user.image, size: 80, class: "icon-image", style: "position: absolute; left: 135px; top: 35px;") %>
      <% else %>
        <%= gravatar_for(@user, size: 80, class: "icon-image", style: "position: absolute; left: 135px; top: 35px;") %>
      <% end %>
      </div>
        <%= @user.name %>
      </h1>
    </section>
    <%= @user.introduction %>
    <section class="stats">
      <%= render 'shared/stats', user: @user %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <%= render 'shared/fixed_post', user: @user %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
