<% if current_user.image.attached? %>
        <%= image_tag(current_user.image, size: 50) %>
      <% else %>
        <%= gravatar_for(current_user, size: 50) %>
      <% end %>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>
