<div class="user-image", style="position: relative; display: inline-block;">
  <% if current_user.background_image.attached? %>
    <%= image_tag(current_user.background_image, size: '350x150', class: "background-image", style: "display: block;") %>
  <% end %>
  <% if current_user.image.attached? %>
    <%= image_tag(current_user.image, size: 80, class: "icon-image", style: "position: absolute; left: 135px; top: 35px;") %>
  <% else %>
    <%= gravatar_for(current_user, size: 80, class: "icon-image", style: "position: absolute; left: 135px; top: 35px;") %>
  <% end %>
</div>
<h1><%= link_to current_user.name, current_user %></h1>
<span><%= pluralize(current_user.microposts.count, "ポスト") %></span>
