<div class="user-image">
  <% if current_user.background_image.attached? %>
  <%= image_tag(current_user.background_image, height: 200, style: "width: 100%; object-fit: cover;") %><% end %>
</div>
<div class="user-header" style="display: flex; align-items: center;">
  <% if current_user.image.attached? %>
    <%= image_tag(current_user.image, size: 80, style: "border-radius: 50%; margin-top: 5px;") %>
  <% else %>
    <%= gravatar_for(current_user, size: 80, style: "border-radius: 50%; margin-top: 5px;") %>
  <% end %>
  <div class="user_info" style="margin-left: 20px;">
    <h1><%= link_to current_user.name, current_user %></h1>
    <span><%= pluralize(current_user.microposts.count, "ポスト") %></span>
    <%= render 'shared/stats', user: current_user %>
  </div>
</div>
